<div *ngIf="task">
  <h2> Task {{ task.id }} Details</h2>
  
  <div>
    <label>
      <span>ID</span>: {{ task.id }}
    </label>
  </div>

  <div>
    <label>
        <span>Description</span>: {{ task.description }}
    </label>
  </div>

  <div>
    <label>
        <span>Responsible</span>: {{ task.person_name }}
        <input [(ngModel)]="task.person_name" placeholder="Responsible" />
    </label>
  </div>

  <div>
    <label>
      <span>Percentage completed</span>: {{ task.percentage }}%
    </label>
  </div>
  <button (click)="goBack()">Back to Last Page</button>
</div>