<nav>
  <a routerLink="/projects-list">Home</a>
  <a routerLink="/tasks-list">Tasks</a>
  <a routerLink="/dashboard">Dashboard</a>
  <div style="text-align:right"><button (click)="logout()">Logout</button></div>
</nav>

<div style="text-align:center">
  <h1>
    List of Projects
  </h1>
</div>
<ul>
  <li *ngFor="let project of projects">
    <h2>
      {{ project.project_name }}
    </h2>
    <div>
      <p><strong>Description</strong>: {{ project.description }}</p>
      <p><strong>Created At</strong>: {{ project.date_of_creation }}</p>
    </div>
  </li>
</ul>
<input #project_name type='text' placeholder='Project Name'><br/>
<input #description type='text' placeholder='Project Description'><br/>
<button (click)="addProject(project_name.value, description.value)">Add Project</button>
<p>{{ error?.message }}</p>
<p *ngIf="error">{{ error?.error | json }}</p>