<nav>
  <a routerLink="/projects-list">Home</a>
  <a routerLink="/tasks-list">Tasks</a>
  <a routerLink="/dashboard">Dashboard</a>
  <div style="text-align:right"><button (click)="logout()">Logout</button></div>
</nav>

<div style="text-align:center">
  <h1>
    List of Tasks
  </h1>
</div>

<div>
  <ul class="tasks">
    <li *ngFor="let task of tasks">
      <a routerLink="/detail/{{task.id}}">
        <span class="badge">
          {{ task.id }}
        </span> {{ task.task_name }}
        <p><strong>Description</strong>: {{ task.description }}</p>
        <p><strong>Deadline</strong>: {{ task.deadline }}</p>
      </a>
    </li>
  </ul>
</div>

<input #task_name type='text' placeholder='Task Name'><br/>
<input #description type='text' placeholder='Description'><br/>
<input #deadline type='datetime-local' placeholder='Deadline'><br/>
<button (click)="addTask(task_name.value, description.value, deadline.value)">Add Task</button>