<nav>
  <a routerLink="/projects-list">Home</a>
</nav>

<div style="text-align:center">
  <h1>
    Sign Up
  </h1>
  <input #username type='text' placeholder='Username'><br/>
  <input #email type='text' placeholder='Email'><br/>
  <input #password1 type='password' placeholder='Password (min 8 caracters)'><br/>
  <input #password2 type='password' placeholder='Repeat Password'><br/>
  <button (click)="signup(username.value, email.value, password1.value, password2.value)">Sign Up</button>
  <p>{{ error?.message }}</p>
  <p *ngIf="error">{{ error?.error | json }}</p>
</div>